bin/Debug/net8.0/BookSharingApp.dll
bin/Debug/net8.0/BookSharingApp.exe
bin/Debug/net8.0/BookSharingApp.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/BookSharingApp.AssemblyInfo.cs
obj/Debug/net8.0/BookSharingApp.AssemblyInfoInputs.cache
obj/Debug/net8.0/BookSharingApp.dll
obj/Debug/net8.0/BookSharingApp.pdb
obj/Debug/net8.0/BookSharingApp.sourcelink.json
obj/Debug/net8.0/ref/BookSharingApp.dll
obj/Debug/net8.0/refint/BookSharingApp.dll
