name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore WebAPI.sln

    - name: Build
      run: dotnet build WebAPI.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test WebAPI.sln --no-build --verbosity normal --configuration Release --collect:"XPlat Code Coverage"

    - name: Upload coverage reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: code-coverage-report
        path: '**/coverage.cobertura.xml'
        retention-days: 90
